<div class="row" id="select-humidity" [formGroup]="parent">
  <label>The <span id="humidity-text" data-tooltip="Humidity is the amount of water vapour in the air. The higher the relative humidity, the hotter you will feel." data-position="top center">humidity</span> should be around: <span id="amount">{{humidityVal}}</span> %
    <!-- Temperature selection slider -->
    <div class="slider">
      <input *ngFor="let hum of humidity" type="range" id="range" [min]="hum.low" [max]="hum.high" step="5" formControlName="selectedHumidity" (ngModelChange)="humiditySlider($event)">
    </div>
  </label>
  <!-- Validation for temperature. Method to check submission + formFields from parent. -->
  <div *ngIf="this.submitted && this.formFields.selectedHumidity.errors" class="ui pointing red basic label">
    <div *ngIf="this.formFields.selectedHumidity.errors.required">Select a humidity level</div>
  </div>
</div>