

<div class="row">
  <div class="sixteen wide column" id="banner">
    <div class="two wide column">
      <div class="row" id="title-row">
        <img id="sun" src="/assets/sun.gif">
        <div class="ui header" id="title">Vacation City</div>
    </div>
  </div>
    <div class="row" id="slogan-row">
      <div class="two wide column">
        <div class="ui header" id="slogan">Choose your next travel destination based on the <span id="weather-text">weather</span>.</div><div>

      </div>
    </div>
    <div class="row" id="start-button-row">
      <div class="two wide column">
        <div class="ui huge button" id="start-button" (click)="getStarted()">Get Started <i class="down angle icon" id="down-arrow"></i></div>
        <span class="dot"></span>
      </div>
    </div>
  </div>
    <app-input-form [formHidden]="childComponentHidden"></app-input-form>
</div>


